/GarageVelo/bin/Debug/net10.0-android
/GarageVelo/obj/Debug/net10.0-android
/GarageVelo/obj
/GarageVelo/bin/Release/net10.0-android
net10.0
obj
win-x64

# Build output
livrable/

# Server scripts runtime files
.server.pid
.server.log
.server.err.log
/GarageVelo/bin/Debug/net10.0-ios/iossimulator-x64
maccatalyst-x64
